extends layout

block content
  h1 くらいみんぐSNS
  p 自分のグレードとか課題を共有しよう！
  p
    a(href="/#") みんなの課題
  p 
    a(href="/mypage") マイページ
  p 
    a(href="/uplode") 課題投稿
  p 
    a(href="/counter") 課題記録
  p 
    a(href="/counter") アテンプト数カウンタ