extends layout

block content
  h1 くらいみんぐSNS
  p 自分のグレードとか課題を共有しよう！
  p 
    a(href="/mypage") マイページ
  p 
    a(href="/mypage") 課題投稿
  p 
    a(href="/mypage") 課題記録
  p 
    a(href="/mypage") アテンプト数カウンタ